import the necessary libraries

In [48]:
import pandas as pd
from datetime import datetime

import the dataset

In [23]:
data = pd.read_csv('/Users/robineastwood/Desktop/CoderGirl_2020/Needy_Paws_project/Needy_Paws_Master_All_Adopted.csv')

In [24]:
data.head()

,Name of Dog,Current Status,Date Rescued,Adoption Date,Days in Rescue,Heartworm Positive,Adoption Fee,Breed,Sex,Age When\nRescued,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Aaron,Adopted,6/21/2018,7/21/2018,30.0,N,$250,Lab,M,7 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abby,Adopted,11/13/2018,2/11/2019,90.0,N,$250,Mastiff,F,10 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abby,Adopted,10/3/2016,12/25/2016,83.0,N,$175,Chi Mix,F,7 yrs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abby,Adopted,9/23/2017,11/9/2017,47.0,N,$250,Rottweiler/Golden Retriver,F,6 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abby,Adopted,3/21/2018,4/21/2018,31.0,N,$175,NaN,F,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data = data.drop(columns=['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'])

In [26]:
data.head()

,Name of Dog,Current Status,Date Rescued,Adoption Date,Days in Rescue,Heartworm Positive,Adoption Fee,Breed,Sex,Age When\nRescued,Age Group When Rescued,Color,Size,Altered Prior to Intake (Y/N/U),Intake\nForm#,Rescued From
0,Aaron,Adopted,6/21/2018,7/21/2018,30.0,N,$250,Lab,M,7 months,Young,Yellow,Medium,Y,18411,Owner surrender
1,Abby,Adopted,11/13/2018,2/11/2019,90.0,N,$250,Mastiff,F,10 months,Young,Red,Large,N,NaN,"Campbell, MO AC"
2,Abby,Adopted,10/3/2016,12/25/2016,83.0,N,$175,Chi Mix,F,7 yrs,Adult,Tan,Small,Y,16582,Owner surrender
3,Abby,Adopted,9/23/2017,11/9/2017,47.0,N,$250,Rottweiler/Golden Retriver,F,6 weeks,Puppy,Black & Tan,Medium,N,17589,Owner surrender
4,Abby,Adopted,3/21/2018,4/21/2018,31.0,N,$175,NaN,F,6 years,Adult,Brindle,Medium,Y,18219,"Warrenton, MO AC"

In [70]:
data.dtypes

Name of Dog                         object
Current Status                      object
Date Rescued                        object
Adoption Date                       object
Days in Rescue                     float64
Heartworm Positive                  object
Adoption Fee                        object
Breed                               object
Sex                                 object
Age When\nRescued                   object
Age Group When Rescued              object
Color                               object
Size                                object
Altered Prior to Intake (Y/N/U)     object
Intake\nForm#                       object
Rescued From                        object
dtype: object

In [19]:
data.shape

(4233, 16)

In [71]:
data.describe()

       Days in Rescue
count     3088.000000
mean        47.676490
std         62.374061
min         -5.000000
25%         16.000000
50%         29.000000
75%         60.000000
max        812.000000

In [59]:
try: 
    data['Date Rescued'] = pd.to_datetime(data['Date Rescued'], format='%m/%d/%Y')
except ValueError: 
    pass

In [73]:
try: 
    data['Intake\nForm#'] = data['Intake\nForm#'].astype('int')
except ValueError:
    pass

In [74]:
data.dtypes

Name of Dog                         object
Current Status                      object
Date Rescued                        object
Adoption Date                       object
Days in Rescue                     float64
Heartworm Positive                  object
Adoption Fee                        object
Breed                               object
Sex                                 object
Age When\nRescued                   object
Age Group When Rescued              object
Color                               object
Size                                object
Altered Prior to Intake (Y/N/U)     object
Intake\nForm#                       object
Rescued From                        object
dtype: object

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4233 entries, 0 to 4232
Data columns (total 16 columns):
Name of Dog                        4233 non-null object
Current Status                     4233 non-null object
Date Rescued                       4212 non-null object
Adoption Date                      3101 non-null object
Days in Rescue                     3088 non-null float64
Heartworm Positive                 4233 non-null object
Adoption Fee                       4216 non-null object
Breed                              4215 non-null object
Sex                                4233 non-null object
Age When
Rescued                   4183 non-null object
Age Group When Rescued             4136 non-null object
Color                              4176 non-null object
Size                               4125 non-null object
Altered Prior to Intake (Y/N/U)    4114 non-null object
Intake
Form#                       2980 non-null object
Rescued From                       4065 non-null object
dtypes: float64(1), object(15)
memory usage: 529.2+ KB